{% extends 'baseAdministration.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Welcome to Dashborad</h2>
                <div class="page_link">
                  <a href="{{path('index')}}">Home</a>
                  <a href="courses.html">Category</a>
                  <a href="course-details.html">New Category </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
    <!--================End Home Banner Area =================-->
          
              <h1>Create new Category</h1>
                  {{ include('category/_form.html.twig') }}

              <a href="{{ path('category_index') }}" class="primary-btn ml-sm-3 ml-0">back to list</a>
            <br><br>
   

{% endblock %}
