{% extends 'baseAbout.html.twig' %}

{% block body %}
<!--================ Start About Area =================-->
    <section class="about_area section_gap">
      <div class="container">
        <div class="row h_blog_item">
          <div class="col-lg-6">
            <div class="h_blog_img">
              <img class="img-fluid" src="{{asset('montemplete/img/about.png')}}" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="h_blog_text">
              <div class="h_blog_text_inner left right">
                <h4>Bienvenue dans notre Bibliotheque</h4>
                <p>
                  La bibliothèque est un meuble peu profond destiné à contenir les livres et volumes. ... L'armoire est généralement assez profonde pour accueillir deux rangées de livres et ses tablettes suffisamment espacées pour permettre aux volumes d'être enlevés et replacés sans un frottement qui abîmerait les reliures .
                </p>
                <p>
                  La bibliothèque est un meuble peu profond destiné à contenir les livres et volumes. ... L'armoire est généralement assez profonde pour accueillir deux rangées de livres et ses tablettes suffisamment espacées pour permettre aux volumes d'être enlevés et replacés sans un frottement qui abîmerait les reliures .
                </p>
                <a class="primary-btn" href="#">
                  Learn More <i class="ti-arrow-right ml-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End About Area =================-->

    {% endblock %}