{% extends 'baseIndex.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
    <h1>Create new Livre</h1>

    {{ include('livre/_form.html.twig') }}
    <br>
    <br>
    <a href="{{ path('livre_index') }}" class="primary-btn ml-sm-3 ml-0">back to list</a>

{% endblock %}
